---
---

@import "{{ site.theme }}";

p {
  color: black
}

img {
  width: 100%;
  height: auto;
}

ul {
  margin: 0px;
  padding: 0px;
  border: 0px;
  background: none;
  list-style-type: circle !important;
}
